<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="constr" connectionString=" Server=.;Initial Catalog=StudentManager;Trusted_Connection=True;"/>
  </connectionStrings>
    <appSettings>
    <add key="version" value="wanghanghang-v1.1.0"/>
  </appSettings>
</configuration>